# Download and clean Dataset

###### downloading and cleaning.py #####

## Movie industry analysis ##

#### The main purpose of this data analysis is to find out if there's a correlation between the rating of the movie and its box-office earnings. Movies high rated are always the ones that make more money? 

#### Note that in order to make a fair analyis in terms of box-office earnings we are filtering movies just from the 2000's and movies with earnings dollar currency only

### HYPOTHESIS
#### Other hypothesis we want to resolve:
####  1) Movie genre vs rating 
####  2) Movie genre vs awards - Why is hard for comedy movies to get to the Oscars?


### DATA SOURCE
#### For this proyect we are going to work with two different data sources: Kaggle and IMDb API
#### KAGGLE: Originally this data was downloades from IMDb API but the we need more information from the API that is missing. From this data we are going to use mainly imdb_title_id, original_title, year, country, language, budget and worlwide_gross_income.
#### IMDb API: we are using imdb_title_id to make the request to the api and get the info about awards.

In [1]:
###### downloading and cleaning.py #####

#Import libraries 

import numpy as np
import pandas as pd

import re

import warnings

warnings.filterwarnings('ignore')

# https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset -> Kaggle URL Dataset

In [2]:
#Download Kaggle dataset

# !kaggle datasets download -d stefanoleone992/imdb-extensive-dataset

In [3]:
# Find downloaded zip file from Kaggle

# !ls

In [4]:
#Decompress zip file

# !tar -xzvf imdb-extensive-dataset.zip

In [5]:
#Delete downloaded zip file

# !rm -rf imdb-extensive-dataset.zip

In [6]:
# !rm -rf IMDb names.csv
# !rm -rf IMDb ratings.csv **
# !rm -rf title_principals.csv

In [7]:
# Read and convert the csv source data into a pandas dataframe.

pd.set_option('display.max_columns', None)
kaggle_movie_ratings = pd.read_csv("IMDb ratings.csv",encoding = "ISO-8859-1")

In [8]:
kaggle_movie_ratings.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1,allgenders_0age_avg_vote,allgenders_0age_votes,allgenders_18age_avg_vote,allgenders_18age_votes,allgenders_30age_avg_vote,allgenders_30age_votes,allgenders_45age_avg_vote,allgenders_45age_votes,males_allages_avg_vote,males_allages_votes,males_0age_avg_vote,males_0age_votes,males_18age_avg_vote,males_18age_votes,males_30age_avg_vote,males_30age_votes,males_45age_avg_vote,males_45age_votes,females_allages_avg_vote,females_allages_votes,females_0age_avg_vote,females_0age_votes,females_18age_avg_vote,females_18age_votes,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,28,9,1,5,14,7.2,4.0,6.0,38.0,5.7,50.0,6.6,35.0,6.2,97.0,7.0,1.0,5.9,24.0,5.6,36.0,6.7,31.0,6.0,35.0,7.3,3.0,5.9,14.0,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,103,28,20,13,16,6.0,1.0,6.1,114.0,6.0,239.0,6.3,115.0,6.1,425.0,6.0,1.0,6.2,102.0,6.0,210.0,6.2,100.0,6.2,50.0,NaN,NaN,5.9,12.0,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,32,16,5,6,4,NaN,NaN,5.5,25.0,5.8,72.0,6.2,62.0,5.9,146.0,NaN,NaN,5.5,21.0,5.9,67.0,6.2,55.0,5.7,15.0,NaN,NaN,5.8,4.0,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,117,63,26,25,16,NaN,NaN,5.3,23.0,5.0,111.0,5.3,193.0,5.1,299.0,NaN,NaN,5.2,20.0,4.9,96.0,5.2,171.0,5.9,39.0,NaN,NaN,5.7,3.0,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,169,66,39,20,87,7.5,4.0,7.0,402.0,7.0,895.0,7.1,482.0,7.0,1607.0,8.0,2.0,7.0,346.0,7.0,804.0,7.0,396.0,7.2,215.0,7.0,2.0,7.0,52.0,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [9]:
# Read and convert the csv source data into a pandas dataframe.

pd.set_option('display.max_columns', None)
kaggle_movie_dataset = pd.read_csv("IMDb movies.csv",encoding = "ISO-8859-1")

In [10]:
# Shows first 3 rows of the dataset.

kaggle_movie_dataset.head(2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0

In [11]:
kaggle_movie_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [12]:
# Generate various summary statistics, excluding NaN values.

kaggle_movie_dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
duration,85855.0,100.351418,22.553848,41.0,88.0,96.0,108.0,808.0
avg_vote,85855.0,5.898656,1.234987,1.0,5.2,6.1,6.8,9.9
votes,85855.0,9493.489605,53574.359543,99.0,205.0,484.0,1766.5,2278845.0
metascore,13305.0,55.896881,17.784874,1.0,43.0,57.0,69.0,100.0
reviews_from_users,78258.0,46.040826,178.511411,1.0,4.0,9.0,27.0,10472.0
reviews_from_critics,74058.0,27.479989,58.339158,1.0,3.0,8.0,23.0,999.0

It seems the mayority of the variables in this dataset are discrete/categorical type. We might be able to use "count" methods for these ones after applying some data cleaning and data consolidation. We will get clearer information later on. For this analytis we are not going to use the continous variables

In [13]:
# Calculates the percentage of null registers for each variable

percent_missing = round(kaggle_movie_dataset.isnull().sum() * 100 / len(kaggle_movie_dataset), 2)
percent_missing

imdb_title_id             0.00
title                     0.00
original_title            0.00
year                      0.00
date_published            0.00
genre                     0.00
duration                  0.00
country                   0.07
language                  0.97
director                  0.10
writer                    1.83
production_company        5.19
actors                    0.08
description               2.46
avg_vote                  0.00
votes                     0.00
budget                   72.38
usa_gross_income         82.15
worlwide_gross_income    63.87
metascore                84.50
reviews_from_users        8.85
reviews_from_critics     13.74
dtype: float64

We definatelly need the "worlwide_gross_income" column and the "worlwide_gross_income" for this analysis even though they have one the highest missing data percentage. It shouldn't be a big inconvenience since we can only make 500 requests to the IMDb API (we need one per movie)

###### movie_functions.py #####

In [14]:
# Remove rows where the following columns values are missing

get_notnulls_columns = ["budget", "worlwide_gross_income", "genre", "country"]

def notNulls(columns, dataset):
    for col in columns:
        dataset = dataset[pd.notnull(dataset[col])]  
    return dataset

In [15]:
# import movie_functions as mf
# kaggle_movie_dataset2 = mf.notNulls(get_notnulls_columns, kaggle_movie_dataset)

In [16]:
kaggle_movie_dataset2 = notNulls(get_notnulls_columns, kaggle_movie_dataset)

In [17]:
# kaggle_movie_dataset2.info()

In [18]:
# Calculates the percentage of null registers for each variable

percent_missing2 = round(kaggle_movie_dataset2.isnull().sum() * 100 / len(kaggle_movie_dataset), 2)
percent_missing2

imdb_title_id            0.00
title                    0.00
original_title           0.00
year                     0.00
date_published           0.00
genre                    0.00
duration                 0.00
country                  0.00
language                 0.04
director                 0.00
writer                   0.08
production_company       0.16
actors                   0.00
description              0.19
avg_vote                 0.00
votes                    0.00
budget                   0.00
usa_gross_income         5.40
worlwide_gross_income    0.00
metascore                6.60
reviews_from_users       0.65
reviews_from_critics     0.58
dtype: float64

#### Let's check if there are null values within the columns we want to use after deleting null values from "budget"

In [19]:
# Gets number of registers and variables of this dataset

kaggle_movie_dataset.shape

(85855, 22)

In [20]:
kaggle_movie_dataset2.shape

(12761, 22)

#### We need "worlwide_gross_income" to be and integer and we are going to selecto only $ currency

In [21]:
get_dollars = kaggle_movie_dataset2["worlwide_gross_income"].str.startswith('$', na=False)

kaggle_movie_dataset2[get_dollars]

kaggle_movie_dataset2.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
165,tt0010323,Il gabinetto del dottor Caligari,Das Cabinet des Dr. Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,German,Robert Wiene,"Carl Mayer, Hans Janowitz",Decla-Bioscop AG,"Werner Krauss, Conrad Veidt, Friedrich Feher, ...","Hypnotist Dr. Caligari uses a somnambulist, Ce...",8.1,55601,$ 18000,$ 8811,$ 8811,NaN,237.0,160.0
210,tt0011440,Markens grÃ¸de,Markens grÃ¸de,1921,1921-12-02,Drama,107,Norway,NaN,Gunnar Sommerfeldt,"Knut Hamsun, Gunnar Sommerfeldt",Christiana Film,"Amund Rydland, Karen Poulsen, Ragna Wettergree...",After the Nobel prize winning Knut Hamsun-nove...,6.6,195,NOK 250000,NaN,$ 4272,NaN,3.0,3.0
245,tt0012190,I quattro cavalieri dell'Apocalisse,The Four Horsemen of the Apocalypse,1921,1923-04-16,"Drama, Romance, War",150,USA,None,Rex Ingram,"Vicente Blasco IbÃ¡Ã±ez, June Mathis",Metro Pictures Corporation,"Pomeroy Cannon, Josef Swickard, Bridgetta Clar...",An extended family split up in France and Germ...,7.2,3058,$ 800000,$ 9183673,$ 9183673,NaN,45.0,16.0
251,tt0012349,Il monello,The Kid,1921,1923-11-26,"Comedy, Drama, Family",68,USA,"English, None",Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Carl Miller, Edna Purviance, Jackie Coogan, Ch...","The Tramp cares for an abandoned child, but ev...",8.3,109038,$ 250000,NaN,$ 26916,NaN,173.0,105.0
348,tt0014624,La donna di Parigi,A Woman of Paris: A Drama of Fate,1923,1927-06-06,"Drama, Romance",82,USA,"None, English",Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Edna Purviance, Clarence Geldart, Carl Miller,...",A kept woman runs into her former fiancÃ© and ...,7.0,4735,$ 351000,NaN,$ 11233,NaN,37.0,24.0

In [22]:
kaggle_movie_dataset2['worlwide_gross_income'] = kaggle_movie_dataset2['worlwide_gross_income'].str.replace('$', "")
kaggle_movie_dataset2.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
165,tt0010323,Il gabinetto del dottor Caligari,Das Cabinet des Dr. Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,German,Robert Wiene,"Carl Mayer, Hans Janowitz",Decla-Bioscop AG,"Werner Krauss, Conrad Veidt, Friedrich Feher, ...","Hypnotist Dr. Caligari uses a somnambulist, Ce...",8.1,55601,$ 18000,$ 8811,8811,NaN,237.0,160.0
210,tt0011440,Markens grÃ¸de,Markens grÃ¸de,1921,1921-12-02,Drama,107,Norway,NaN,Gunnar Sommerfeldt,"Knut Hamsun, Gunnar Sommerfeldt",Christiana Film,"Amund Rydland, Karen Poulsen, Ragna Wettergree...",After the Nobel prize winning Knut Hamsun-nove...,6.6,195,NOK 250000,NaN,4272,NaN,3.0,3.0
245,tt0012190,I quattro cavalieri dell'Apocalisse,The Four Horsemen of the Apocalypse,1921,1923-04-16,"Drama, Romance, War",150,USA,None,Rex Ingram,"Vicente Blasco IbÃ¡Ã±ez, June Mathis",Metro Pictures Corporation,"Pomeroy Cannon, Josef Swickard, Bridgetta Clar...",An extended family split up in France and Germ...,7.2,3058,$ 800000,$ 9183673,9183673,NaN,45.0,16.0
251,tt0012349,Il monello,The Kid,1921,1923-11-26,"Comedy, Drama, Family",68,USA,"English, None",Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Carl Miller, Edna Purviance, Jackie Coogan, Ch...","The Tramp cares for an abandoned child, but ev...",8.3,109038,$ 250000,NaN,26916,NaN,173.0,105.0
348,tt0014624,La donna di Parigi,A Woman of Paris: A Drama of Fate,1923,1927-06-06,"Drama, Romance",82,USA,"None, English",Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Edna Purviance, Clarence Geldart, Carl Miller,...",A kept woman runs into her former fiancÃ© and ...,7.0,4735,$ 351000,NaN,11233,NaN,37.0,24.0

#### For simplicity we want o aggregate some of the categories within the genre column, but first we want to check how many unique values these ones have

In [23]:
# Checking how many register we have for genre category


dict(kaggle_movie_dataset2.genre.value_counts())

{'Drama': 1084,
 'Comedy': 797,
 'Comedy, Drama': 595,
 'Comedy, Drama, Romance': 491,
 'Drama, Romance': 427,
 'Comedy, Romance': 396,
 'Action, Crime, Drama': 313,
 'Crime, Drama, Thriller': 226,
 'Animation, Adventure, Comedy': 219,
 'Crime, Drama, Mystery': 181,
 'Drama, Thriller': 176,
 'Horror, Thriller': 175,
 'Action, Adventure, Comedy': 170,
 'Action, Comedy, Crime': 169,
 'Crime, Drama': 158,
 'Action, Adventure, Sci-Fi': 148,
 'Action, Crime, Thriller': 142,
 'Horror': 139,
 'Action, Adventure, Drama': 136,
 'Biography, Drama, History': 135,
 'Action, Thriller': 133,
 'Horror, Mystery, Thriller': 131,
 'Comedy, Crime, Drama': 131,
 'Biography, Drama': 120,
 'Action, Adventure, Fantasy': 113,
 'Comedy, Crime': 106,
 'Drama, Mystery, Thriller': 96,
 'Action, Drama, Thriller': 93,
 'Drama, War': 81,
 'Comedy, Drama, Family': 80,
 'Adventure, Comedy, Family': 78,
 'Biography, Crime, Drama': 77,
 'Action, Comedy': 75,
 'Animation, Action, Adventure': 74,
 'Thriller': 71,
 'Action, Adventure, Thriller': 71,
 'Action, Drama': 67,
 'Crime, Drama, Romance': 65,
 'Comedy, Drama, Fantasy': 65,
 'Comedy, Drama, Music': 63,
 'Drama, Horror, Mystery': 62,
 'Biography, Drama, Music': 59,
 'Action, Drama, History': 59,
 'Comedy, Family': 58,
 'Adventure, Family, Fantasy': 57,
 'Crime, Thriller': 56,
 'Drama, History': 56,
 'Biography, Comedy, Drama': 56,
 'Biography, Drama, Romance': 56,
 'Animation, Adventure, Family': 54,
 'Adventure, Comedy, Drama': 53,
 'Action, Adventure, Crime': 52,
 'Drama, Sport': 51,
 'Biography, Drama, Sport': 51,
 'Drama, History, War': 51,
 'Comedy, Horror': 51,
 'Drama, Music, Romance': 50,
 'Drama, Music': 50,
 'Drama, Fantasy, Horror': 50,
 'Comedy, Family, Fantasy': 49,
 'Action, Sci-Fi, Thriller': 46,
 'Action': 44,
 'Drama, Horror, Thriller': 44,
 'Horror, Mystery': 43,
 'Drama, Romance, War': 41,
 'Drama, Family': 40,
 'Comedy, Fantasy, Romance': 39,
 'Comedy, Fantasy, Horror': 39,
 'Drama, History, Romance': 38,
 'Drama, Mystery, Romance': 37,
 'Action, Drama, War': 37,
 'Comedy, Fantasy': 37,
 'Drama, Romance, Thriller': 37,
 'Comedy, Sport': 36,
 'Crime, Mystery, Thriller': 36,
 'Family': 34,
 'Animation, Comedy, Family': 34,
 'Action, Sci-Fi': 34,
 'Action, Horror, Sci-Fi': 33,
 'Action, Biography, Drama': 33,
 'Comedy, Music': 33,
 'Crime, Drama, Horror': 32,
 'Action, Comedy, Drama': 32,
 'Adventure, Comedy': 32,
 'Mystery, Thriller': 32,
 'Drama, Mystery': 32,
 'Drama, Fantasy': 31,
 'Action, Adventure, Family': 31,
 'Horror, Sci-Fi, Thriller': 31,
 'Adventure, Drama, Romance': 31,
 'Adventure, Drama': 31,
 'Drama, Mystery, Sci-Fi': 31,
 'Drama, Fantasy, Romance': 30,
 'Action, Drama, Romance': 30,
 'Adventure, Biography, Drama': 29,
 'Action, Drama, Sci-Fi': 28,
 'Adventure, Drama, Family': 28,
 'Adventure, Drama, History': 27,
 'Comedy, Crime, Mystery': 26,
 'Comedy, Crime, Thriller': 25,
 'Action, Fantasy, Horror': 25,
 'Adventure, Comedy, Crime': 24,
 'Action, Adventure': 24,
 'Horror, Sci-Fi': 24,
 'Comedy, Sci-Fi': 23,
 'Comedy, Crime, Romance': 23,
 'Action, Drama, Sport': 23,
 'Action, Comedy, Fantasy': 23,
 'Drama, Fantasy, Mystery': 22,
 'Drama, Sci-Fi': 21,
 'Drama, Musical, Romance': 21,
 'Drama, Western': 21,
 'Action, Adventure, Horror': 21,
 'Animation, Adventure, Drama': 21,
 'Drama, Horror, Sci-Fi': 21,
 'Drama, Horror': 20,
 'Comedy, Family, Romance': 20,
 'Horror, Mystery, Sci-Fi': 19,
 'Action, Comedy, Romance': 19,
 'Drama, Sci-Fi, Thriller': 19,
 'Adventure, Drama, Fantasy': 19,
 'Drama, History, Thriller': 19,
 'Adventure, Family': 19,
 'Comedy, Drama, Musical': 19,
 'Action, Drama, Mystery': 19,
 'Comedy, Musical, Romance': 18,
 'Romance': 18,
 'Action, Drama, Fantasy': 18,
 'Comedy, Music, Romance': 18,
 'Action, Mystery, Thriller': 18,
 'Fantasy, Horror, Mystery': 17,
 'Comedy, Drama, Mystery': 17,
 'Comedy, Romance, Sport': 17,
 'Action, Comedy, Horror': 17,
 'Fantasy, Horror': 17,
 'Comedy, Drama, Sport': 16,
 'Comedy, Horror, Thriller': 16,
 'Adventure, Comedy, Fantasy': 16,
 'Drama, Romance, Sci-Fi': 16,
 'Action, Horror, Thriller': 15,
 'Animation, Family': 15,
 'Crime, Drama, History': 15,
 'Comedy, Drama, Thriller': 15,
 'Action, Crime, Sci-Fi': 15,
 'Comedy, Horror, Sci-Fi': 15,
 'Adventure, Drama, Thriller': 15,
 'Fantasy, Horror, Thriller': 14,
 'Biography, Drama, Family': 14,
 'Drama, Family, Fantasy': 14,
 'Animation, Family, Fantasy': 14,
 'Action, Crime': 14,
 'Sci-Fi, Thriller': 14,
 'Crime': 13,
 'Drama, Horror, Romance': 13,
 'Adventure, Comedy, Sci-Fi': 13,
 'Comedy, Thriller': 13,
 'Comedy, Musical': 13,
 'Comedy, Romance, Sci-Fi': 13,
 'Action, Adventure, Mystery': 13,
 'Adventure': 13,
 'Drama, Romance, Sport': 13,
 'Action, Comedy, Sci-Fi': 12,
 'Action, Biography, Crime': 12,
 'Action, Crime, Horror': 12,
 'Crime, Horror, Thriller': 12,
 'Animation': 12,
 'Crime, Horror, Mystery': 12,
 'Action, Crime, Mystery': 12,
 'Animation, Comedy, Drama': 12,
 'Adventure, Fantasy': 12,
 'Western': 11,
 'Comedy, Drama, Sci-Fi': 11,
 'Action, Drama, Horror': 11,
 'Drama, Family, Sport': 11,
 'Animation, Drama, Family': 11,
 'Action, Adventure, Romance': 11,
 'Biography, Comedy, Crime': 11,
 'Crime, Drama, Music': 11,
 'Comedy, Drama, War': 11,
 'Comedy, Drama, Horror': 11,
 'Biography, Drama, Thriller': 10,
 'Comedy, Western': 10,
 'Comedy, Family, Sport': 10,
 'Comedy, Drama, History': 10,
 'Biography, Drama, War': 10,
 'Action, Comedy, Family': 10,
 'Adventure, Crime, Drama': 10,
 'Action, Horror, Mystery': 9,
 'Adventure, Comedy, Romance': 9,
 'Action, Comedy, Thriller': 9,
 'Comedy, Horror, Mystery': 8,
 'Musical': 8,
 'Drama, Musical': 8,
 'Comedy, Mystery': 8,
 'Animation, Action, Comedy': 8,
 'Biography': 8,
 'Action, Adventure, Biography': 8,
 'Crime, Drama, Fantasy': 8,
 'Action, Fantasy, Thriller': 8,
 'Adventure, Family, Sci-Fi': 8,
 'Crime, Drama, Film-Noir': 7,
 'Animation, Comedy': 7,
 'Mystery, Sci-Fi, Thriller': 7,
 'Comedy, Crime, Family': 7,
 'Adventure, Drama, Mystery': 7,
 'Comedy, Mystery, Thriller': 7,
 'Animation, Comedy, Fantasy': 7,
 'Drama, Romance, Western': 6,
 'Action, Crime, Fantasy': 6,
 'Sci-Fi': 6,
 'Comedy, Romance, Drama': 6,
 'Animation, Biography, Drama': 6,
 'Animation, Adventure, Fantasy': 6,
 'Action, Romance': 6,
 'Drama, Thriller, War': 6,
 'Adventure, Drama, Horror': 6,
 'Drama, Family, History': 6,
 'Drama, Music, Musical': 6,
 'Drama, History, Music': 6,
 'Biography, Comedy': 6,
 'Comedy, Crime, Horror': 6,
 'Comedy, War': 6,
 'Drama, Comedy': 5,
 'Adventure, Horror, Thriller': 5,
 'Comedy, Family, Music': 5,
 'Romance, Thriller': 5,
 'Family, Fantasy': 5,
 'Adventure, Comedy, Sport': 5,
 'Adventure, Horror, Sci-Fi': 5,
 'Biography, Drama, Fantasy': 5,
 'Action, Fantasy, Romance': 5,
 'History': 5,
 'Comedy, Family, Sci-Fi': 5,
 'Action, Drama, Family': 5,
 'Comedy, Crime, Musical': 5,
 'Drama, History, Sport': 5,
 'Action, Romance, Thriller': 5,
 'Animation, Drama': 5,
 'Drama, Family, Romance': 5,
 'Comedy, Horror, Romance': 5,
 'Action, Mystery, Sci-Fi': 5,
 'Drama, History, Horror': 5,
 'Drama, Fantasy, Thriller': 5,
 'Adventure, Drama, Western': 4,
 'Action, Western': 4,
 'Biography, Drama, Western': 4,
 'Romance, Drama': 4,
 'Animation, Action, Crime': 4,
 'Comedy, Action': 4,
 'Action, Sport': 4,
 'Comedy, Family, Musical': 4,
 'Drama, History, Mystery': 4,
 'Action, Comedy, History': 4,
 'Action, Fantasy': 4,
 'Animation, Comedy, Sci-Fi': 4,
 'Thriller, Drama': 4,
 'Adventure, Drama, Sci-Fi': 4,
 'Adventure, Fantasy, Horror': 4,
 'Action, Comedy, War': 4,
 'Action, Drama, Western': 4,
 'Crime, Mystery': 4,
 'Crime, Drama, Musical': 4,
 'Comedy, Fantasy, Sci-Fi': 4,
 'Action, Adventure, History': 4,
 'Mystery, Romance, Thriller': 4,
 'Drama, Fantasy, History': 4,
 'Comedy, Mystery, Romance': 4,
 'Action, Adventure, Western': 3,
 'Action, Adventure, War': 3,
 'Action, War': 3,
 'Animation, Family, Musical': 3,
 'Drama, Family, Musical': 3,
 'Drama, Fantasy, Sci-Fi': 3,
 'Crime, Romance': 3,
 'Drama, Horror, Musical': 3,
 'Adventure, Crime, Family': 3,
 'Adventure, Family, Mystery': 3,
 'Action, Comedy, Sport': 3,
 'Adventure, Family, Romance': 3,
 'Fantasy': 3,
 'War': 3,
 'Romance, Sci-Fi, Thriller': 3,
 'Fantasy, Mystery, Thriller': 3,
 'Adventure, Drama, War': 3,
 'Comedy, Romance, Thriller': 3,
 'Comedy, Fantasy, Musical': 3,
 'Crime, Fantasy, Horror': 3,
 'Fantasy, Mystery, Romance': 3,
 'Music': 3,
 'Romance, Comedy': 3,
 'Musical, Drama, Romance': 3,
 'Drama, Crime': 3,
 'Crime, Romance, Thriller': 3,
 'Adventure, Sci-Fi, Thriller': 3,
 'Crime, Thriller, Drama': 3,
 'Fantasy, Thriller': 3,
 'Adventure, Mystery, Sci-Fi': 3,
 'Action, Biography, Comedy': 3,
 'Adventure, Romance': 3,
 'Drama, History, Musical': 3,
 'Biography, Drama, Musical': 3,
 'Adventure, Drama, Sport': 3,
 'Adventure, Mystery, Thriller': 3,
 'Adventure, Horror, Mystery': 3,
 'Comedy, Crime, Fantasy': 3,
 'Animation, Action, Drama': 3,
 'Mystery': 3,
 'Comedy, Crime, Music': 3,
 'History, War': 3,
 'Action, Romance, Sci-Fi': 3,
 'Action, Horror': 3,
 'Drama, Film-Noir': 3,
 'Adventure, Fantasy, Mystery': 3,
 'Adventure, Comedy, Mystery': 3,
 'Drama, Mystery, War': 2,
 'Action, Comedy, Mystery': 2,
 'Animation, Drama, Horror': 2,
 'Fantasy, Horror, Sci-Fi': 2,
 'Sport': 2,
 'Family, Fantasy, Musical': 2,
 'Animation, Drama, Fantasy': 2,
 'Action, Comedy, Musical': 2,
 'Mystery, Romance': 2,
 'Comedy, Fantasy, Music': 2,
 'Crime, Drama, Sci-Fi': 2,
 'Comedy, Mystery, Sci-Fi': 2,
 'Action, History, War': 2,
 'Action, Drama, Crime': 2,
 'Adventure, Horror': 2,
 'Adventure, Biography, Comedy': 2,
 'Adventure, Crime, Mystery': 2,
 'Drama, Family, Music': 2,
 'Drama, Comedy, Crime': 2,
 'Adventure, History, War': 2,
 'Crime, Comedy': 2,
 'Drama, Romance, Comedy': 2,
 'Crime, Drama, Western': 2,
 'Animation, Adventure, Sci-Fi': 2,
 'Adventure, Crime, Thriller': 2,
 'Drama, Music, War': 2,
 'Animation, Adventure, Biography': 2,
 'Animation, Crime, Drama': 2,
 'Adventure, Comedy, Thriller': 2,
 'Musical, Romance': 2,
 'Crime, Film-Noir, Mystery': 2,
 'Drama, Fantasy, Sport': 2,
 'Comedy, Fantasy, Mystery': 2,
 'Comedy, Crime, Sci-Fi': 2,
 'Animation, Action, Fantasy': 2,
 'Adventure, Biography, Crime': 2,
 'Adventure, Sci-Fi': 2,
 'Crime, Drama, Sport': 2,
 'Family, Fantasy, Music': 2,
 'Adventure, Fantasy, Romance': 2,
 'Action, Drama, Music': 2,
 'Drama, History, Western': 2,
 'Comedy, Horror, Musical': 2,
 'Animation, Adventure': 2,
 'Crime, Drama, War': 2,
 'Adventure, Comedy, Music': 2,
 'Drama, Crime, Romance': 2,
 'Animation, Drama, Sci-Fi': 2,
 'Action, Sci-Fi, Sport': 2,
 'Animation, Action, Sci-Fi': 2,
 'Romance, Western': 2,
 'Biography, History': 2,
 'Adventure, Comedy, Musical': 2,
 'Drama, Thriller, Crime': 2,
 'Comedy, Crime, Sport': 2,
 'Action, History': 2,
 'Action, Crime, Comedy': 2,
 'Drama, Fantasy, Music': 2,
 'Adventure, Comedy, Western': 2,
 'Adventure, Comedy, Horror': 2,
 'Adventure, Family, Music': 1,
 'Fantasy, Horror, Musical': 1,
 'Biography, History, War': 1,
 'Action, Family, Fantasy': 1,
 'Crime, Horror, Romance': 1,
 'Biography, Family, Sport': 1,
 'Crime, Drama, Family': 1,
 'Drama, War, Western': 1,
 'Animation, Fantasy': 1,
 'Action, Fantasy, Western': 1,
 'Adventure, Crime, History': 1,
 'Drama, Family, Mystery': 1,
 'Drama, Fantasy, Western': 1,
 'Crime, Thriller, Western': 1,
 'Drama, Horror, Western': 1,
 'Animation, Biography, Crime': 1,
 'Comedy, Music, War': 1,
 'Horror, Musical, Sci-Fi': 1,
 'Animation, Biography': 1,
 'Drama, Thriller, Western': 1,
 'Action, Mystery': 1,
 'Romance, Sport': 1,
 'Drama, Horror, Music': 1,
 'Crime, History, Thriller': 1,
 'Family, Romance, Sport': 1,
 'Horror, Romance': 1,
 'Horror, Music, Thriller': 1,
 'Comedy, Fantasy, Thriller': 1,
 'Action, History, Thriller': 1,
 'Adventure, Family, Western': 1,
 'History, Romance': 1,
 'Crime, Thriller, War': 1,
 'Animation, Drama, Thriller': 1,
 'Crime, Fantasy, Thriller': 1,
 'Drama, Fantasy, Musical': 1,
 'Animation, Sci-Fi': 1,
 'Action, Romance, War': 1,
 'Adventure, History, Mystery': 1,
 'Action, Crime, History': 1,
 'Animation, Horror': 1,
 'Horror, Mystery, Romance': 1,
 'Music, Mystery, Thriller': 1,
 'Biography, Thriller': 1,
 'Family, Mystery': 1,
 'Family, Romance': 1,
 'Action, Fantasy, Sci-Fi': 1,
 'Biography, Romance': 1,
 'Drama, Family, Thriller': 1,
 'Action, Drama, Musical': 1,
 'Thriller, Western': 1,
 'Fantasy, Mystery, Sci-Fi': 1,
 'Adventure, Biography, History': 1,
 'Drama, Romance, Adventure': 1,
 'Adventure, History': 1,
 'Animation, Action, Family': 1,
 'Fantasy, Romance': 1,
 'Drama, Family, Western': 1,
 'Animation, Comedy, Music': 1,
 'Fantasy, Sci-Fi, Thriller': 1,
 'History, Drama': 1,
 'Action, Comedy, Music': 1,
 'Music, Romance': 1,
 'Action, Biography, Thriller': 1,
 'Adventure, Family, Musical': 1,
 'Fantasy, Mystery': 1,
 'Biography, Comedy, Music': 1,
 'Crime, Fantasy, Mystery': 1,
 'Crime, Sci-Fi, Thriller': 1,
 'Comedy, Crime, History': 1,
 'Biography, Comedy, History': 1,
 'Family, History, War': 1,
 'Family, Sport': 1,
 'Comedy, Music, Sci-Fi': 1,
 'Action, Musical, Thriller': 1,
 'History, Horror': 1,
 'Mystery, Fantasy, Horror': 1,
 'Animation, Adventure, Mystery': 1,
 'Fantasy, Horror, Comedy': 1,
 'Musical, Romance, War': 1,
 'Fantasy, Comedy': 1,
 'Action, Comedy, Western': 1,
 'Film-Noir, Thriller': 1,
 'Animation, Drama, War': 1,
 'Drama, Film-Noir, Romance': 1,
 'Biography, Drama, Horror': 1,
 'Action, Sport, Thriller': 1,
 'Adventure, History, Romance': 1,
 'Crime, Mystery, Romance': 1,
 'Animation, Adventure, Crime': 1,
 'War, Drama': 1,
 'Family, Comedy': 1,
 'Drama, Thriller, Mystery': 1,
 'Crime, Comedy, Drama': 1,
 'Action, Mystery, Romance': 1,
 'Fantasy, Sci-Fi': 1,
 'Drama, Sci-Fi, War': 1,
 'Action, Biography, Western': 1,
 'Film-Noir, Mystery, Romance': 1,
 'Drama, Music, Mystery': 1,
 'Drama, Film-Noir, Mystery': 1,
 'Action, Horror, Romance': 1,
 'Adventure, Romance, Sci-Fi': 1,
 'Biography, Comedy, Romance': 1,
 'Documentary, Biography, Music': 1,
 'Comedy, Family, Western': 1,
 'Adventure, Family, Sport': 1,
 'Adventure, Romance, Thriller': 1,
 'Comedy, Drama, Western': 1,
 'Biography, Crime, Western': 1,
 'Fantasy, Musical, Romance': 1,
 'Adventure, Thriller': 1,
 'Comedy, History, Musical': 1,
 'Adventure, Fantasy, Sci-Fi': 1,
 'Drama, Mystery, Western': 1,
 'Drama, Sport, War': 1,
 'Comedy, Music, Musical': 1,
 'Sci-Fi, Horror': 1,
 'Family, Sci-Fi': 1,
 'Sci-Fi, Comedy, Music': 1,
 'Adventure, Comedy, War': 1,
 'Adventure, Romance, War': 1,
 'Animation, Fantasy, Adventure': 1,
 'Animation, Fantasy, Music': 1,
 'Adventure, War, Western': 1,
 'Romance, Sci-Fi': 1,
 'Fantasy, Horror, Romance': 1,
 'Action, Crime, Romance': 1,
 'Action, Animation': 1,
 'Musical, War': 1,
 'Romance, Drama, Comedy': 1,
 'Drama, Adventure': 1,
 'Drama, Comedy, Romance': 1,
 'Action, Thriller, War': 1,
 'Comedy, Romance, Music': 1,
 'Adventure, Thriller, Western': 1,
 'Crime, Action, Thriller': 1,
 'Family, Music, Musical': 1,
 'Animation, Fantasy, Musical': 1,
 'Family, Action, Adventure': 1,
 'Thriller, Comedy, Romance': 1,
 'Drama, Action, Thriller': 1,
 'Family, Animation': 1,
 'Mystery, Crime': 1,
 'Adventure, Action': 1,
 'Drama, Comedy, Music': 1,
 'Crime, Action, Drama': 1,
 'Drama, Action': 1,
 'Animation, Comedy, Crime': 1,
 'Drama, Family, War': 1,
 'Drama, Comedy, Action': 1,
 'Drama, Fantasy, War': 1,
 'Comedy, History, War': 1,
 'Biography, Drama, Mystery': 1,
 'Adventure, Comedy, Action': 1,
 'Animation, Crime, Mystery': 1,
 'Family, Fantasy, Drama': 1,
 'Family, Drama': 1,
 'Crime, Horror': 1,
 'Adventure, Drama, Musical': 1,
 'Comedy, Action, Sci-Fi': 1,
 'Romance, Comedy, Musical': 1,
 'Film-Noir, Mystery': 1,
 'Crime, Drama, Action': 1,
 'Musical, Drama': 1,
 'War, Drama, Action': 1,
 'Musical, Comedy, Romance': 1,
 'Drama, Comedy, Sci-Fi': 1,
 'Sci-Fi, Action, Thriller': 1,
 'Comedy, Drama, Crime': 1,
 'Horror, Comedy, Romance': 1,
 'Animation, Comedy, Musical': 1,
 'Musical, Romance, Drama': 1,
 'Adventure, Western': 1,
 'Comedy, Music, Drama': 1,
 'Action, Drama, Comedy': 1,
 'Crime, Mystery, Drama': 1,
 'Family, Adventure, Crime': 1,
 'Romance, Comedy, Drama': 1,
 'Adventure, Fantasy, Thriller': 1}

In [24]:
genre_list = ['Drama', 'Comedy', 'Action', 'Crime', 'Horror', 'Adventure', 'Biography', 'Thriller', 'Fantasy', 'Animation']

###### movie_functions.py #####

In [25]:
# This function aggregates categories within a column given a list of categories

def categoryAggr(category_list, dataset, ref_column, new_column):
    for cat in category_list:
        dataset.loc[dataset[ref_column].str.startswith(f"{cat}"),f"{new_column}"] = f"{cat}"
        print(f"{cat} done")
    return dataset

In [26]:
ref_column = "genre"
new_column = "genre_main"

kaggle_movie_dataset2 = categoryAggr(genre_list, kaggle_movie_dataset2, ref_column, new_column)

Drama done
Comedy done
Action done
Crime done
Horror done
Adventure done
Biography done
Thriller done
Fantasy done
Animation done

In [27]:
# kaggle_movie_dataset2 = mf.categoryAggr(genre_list, kaggle_movie_dataset2, ref_column, new_column)

In [28]:
kaggle_movie_dataset2.loc[~kaggle_movie_dataset2["genre_main"].isin(genre_list), "genre_main"] = "Other"

In [29]:
dict(kaggle_movie_dataset2.genre_main.value_counts())

{'Comedy': 3557,
 'Drama': 2961,
 'Action': 2584,
 'Crime': 879,
 'Adventure': 648,
 'Biography': 637,
 'Horror': 567,
 'Animation': 554,
 'Other': 225,
 'Thriller': 77,
 'Fantasy': 72}

In [30]:
kaggle_movie_dataset2.head(2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,genre_main
165,tt0010323,Il gabinetto del dottor Caligari,Das Cabinet des Dr. Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,German,Robert Wiene,"Carl Mayer, Hans Janowitz",Decla-Bioscop AG,"Werner Krauss, Conrad Veidt, Friedrich Feher, ...","Hypnotist Dr. Caligari uses a somnambulist, Ce...",8.1,55601,$ 18000,$ 8811,8811,NaN,237.0,160.0,Fantasy
210,tt0011440,Markens grÃ¸de,Markens grÃ¸de,1921,1921-12-02,Drama,107,Norway,NaN,Gunnar Sommerfeldt,"Knut Hamsun, Gunnar Sommerfeldt",Christiana Film,"Amund Rydland, Karen Poulsen, Ragna Wettergree...",After the Nobel prize winning Knut Hamsun-nove...,6.6,195,NOK 250000,NaN,4272,NaN,3.0,3.0,Drama

In [31]:
# Let's change also genre_main data type to category
kaggle_movie_dataset2["genre_main"] = kaggle_movie_dataset2["genre_main"].astype("category")

#### For simplicity, we are going to take out 'Other' category from genre_main

In [32]:
kaggle_movie_dataset2 = kaggle_movie_dataset2[(kaggle_movie_dataset2["genre_main"] != "Other")]

#### Drop not needed columns

In [33]:
selected_columns = ['imdb_title_id', 'title', 'original_title', 'year', 'genre', 'genre_main', 'duration', 'country', 'language', 'director', 'writer', 'actors','budget', 'worlwide_gross_income']

In [34]:
kaggle_movie_dataset_final = kaggle_movie_dataset2[kaggle_movie_dataset2.columns.intersection(selected_columns)]

In [35]:
# Rearrage columns
kaggle_movie_dataset_final = kaggle_movie_dataset_final[['imdb_title_id', 'title', 'original_title', 'year', 'genre', 'genre_main', 'duration', 'country', 'language', 'director', 'writer', 'actors', 'budget','worlwide_gross_income']]

#### In order to make a fair comparison between movies for the gross income, we are going to select movies just from 2000's so inflation doesn't affect much

In [36]:
# Turn year values into integers

kaggle_movie_dataset_final["year"] = kaggle_movie_dataset_final["year"].astype("int")
kaggle_movie_dataset_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12536 entries, 165 to 85847
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          12536 non-null  object
 1   title                  12536 non-null  object
 2   original_title         12536 non-null  object
 3   year                   12536 non-null  int64
 4   genre                  12536 non-null  object
 5   genre_main             12536 non-null  category
 6   duration               12536 non-null  int64
 7   country                12536 non-null  object
 8   language               12502 non-null  object
 9   director               12534 non-null  object
 10  writer                 12471 non-null  object
 11  actors                 12534 non-null  object
 12  budget                 12536 non-null  object
 13  worlwide_gross_income  12536 non-null  object
dtypes: category(1), int64(2), object(11)
memory usage: 1.4+ MB

In [37]:
# Filter out movies before the 2000's
kaggle_movie_dataset_final = kaggle_movie_dataset_final[(kaggle_movie_dataset_final["year"]>= 2000)]
kaggle_movie_dataset_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9510 entries, 4334 to 85847
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          9510 non-null   object
 1   title                  9510 non-null   object
 2   original_title         9510 non-null   object
 3   year                   9510 non-null   int64
 4   genre                  9510 non-null   object
 5   genre_main             9510 non-null   category
 6   duration               9510 non-null   int64
 7   country                9510 non-null   object
 8   language               9478 non-null   object
 9   director               9508 non-null   object
 10  writer                 9451 non-null   object
 11  actors                 9508 non-null   object
 12  budget                 9510 non-null   object
 13  worlwide_gross_income  9510 non-null   object
dtypes: category(1), int64(2), object(11)
memory usage: 1.0+ MB

In [38]:
kaggle_movie_dataset_final.shape

(9510, 14)

#### We need a subset equally weighted

In [39]:
movie_dataset_final_sample = kaggle_movie_dataset_final.sample(n = 500, weights = kaggle_movie_dataset_final.groupby("genre_main")["genre_main"].transform('count'))

In [40]:
dict(movie_dataset_final_sample.genre_main.value_counts())

{'Comedy': 189,
 'Drama': 170,
 'Action': 105,
 'Crime': 10,
 'Biography': 9,
 'Animation': 7,
 'Horror': 5,
 'Adventure': 4,
 'Thriller': 1,
 'Fantasy': 0,
 'Other': 0}

#### Attach rating column to kaggle_movie_dataset_final dataframe from kaggle_movie_ratings. Only for movies within first dataframe

In [41]:
# Drop columns not nedeed from kaggle_movie_ratings
selected_columns_ratings = ['imdb_title_id', 'weighted_average_vote']
kaggle_movie_ratings2 = kaggle_movie_ratings[kaggle_movie_ratings.columns.intersection(selected_columns_ratings)]
kaggle_movie_ratings2.head()

  imdb_title_id  weighted_average_vote
0     tt0000009                    5.9
1     tt0000574                    6.1
2     tt0001892                    5.8
3     tt0002101                    5.2
4     tt0002130                    7.0

In [42]:
# Pandas Excel Vlookup :)

kaggle_movie_dataset_final = kaggle_movie_dataset_final.merge(kaggle_movie_ratings2, on='imdb_title_id')
kaggle_movie_dataset_final.shape

(9510, 15)

#### Export to CSV

In [43]:
# Complete dataset
kaggle_movie_dataset_final.to_csv('kaggle_movie_dataset_final.csv', sep =',',index = False)

In [44]:
# Sample of 500 (rapidApi limit)
movie_dataset_final_sample.to_csv('movie_dataset_final_sample.csv', sep =',',index = False)